In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [16]:
# Load the dataset
df=pd.read_csv('D:\Annclassification\Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [17]:
# Preprocess the dataset
# Drop the irrelavant features
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [18]:
# Encoding categorical varibles Label encoder
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [19]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [20]:
# Onehot encoder Geography
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [21]:
# Combine one hot encoder columns with the original data frame
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [22]:
# Divide the dataset into independent and dependent features
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [23]:
# Split the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [24]:
# Scale these featurs
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [25]:
# Save the encoders
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

# Save the sacler
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [26]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

# ANN Regression Problem Statement

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
# Build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # Hidden layer 1 connected with input layer
    Dense(32,activation='relu'), # Hidden layer 2
    Dense(1) # output layer
])

# Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

d:\Annclassification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [29]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# Set up Tensorboard
log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [30]:
# Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [31]:
# Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 100935.5781 - mae: 100935.5781 - val_loss: 98453.3438 - val_mae: 98453.3438
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99575.0391 - mae: 99575.0391 - val_loss: 96533.7656 - val_mae: 96533.7656
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 96198.4375 - mae: 96198.4375 - val_loss: 91737.6016 - val_mae: 91737.6016
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 91990.5859 - mae: 91990.5859 - val_loss: 84010.2891 - val_mae: 84010.2891
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 83913.4766 - mae: 83913.4766 - val_loss: 74515.3438 - val_mae: 74515.3438
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 74293.0391 - mae: 74293.0391 - val_loss: 65428.9141 - val_mae: 65428.9141
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 64415.0547 - mae: 64415.0547 - val_loss: 58318.6797 - val_mae: 58318.6797
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 56971.4180 - mae: 56971.4180 - val_loss: 53936.6133 - val_mae: 53936.6133
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52817.2109 - mae: 52817.2109 - val_loss: 51784.5547 - val_mae: 51784.5547
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50892.1172 - mae: 50892.1172 - val_loss: 51067.2812 - val_mae: 51067.2812
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50948.7109 - mae: 50948.7109 - val_loss: 50864.4375 - val_mae: 50864.4375
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50845.3477 - mae: 50845.3477 - val_loss: 50777.9414 - val_mae: 50777.9414
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50177.8242 - mae: 50177.8242 - val_loss: 50704.6094 - val_mae: 50704.6094
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49979.4102 - mae: 49979.4102 - val_loss: 50652.5312 - val_mae: 50652.5312
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49883.5391 - mae: 49883.5391 - val_loss: 50602.1172 - val_mae: 50602.1172
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49826.1055 - mae: 49826.1055 - val_loss: 50553.0703 - val_mae: 50553.0703
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50468.4609 - mae: 50468.4609 - val_loss: 50512.1602 - val_mae: 50512.1602
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50259.5234 - mae: 50259.5234 - val_loss: 50487.4844 - val_mae: 50487.4844
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50500.5898 - mae: 50500.5898 - val_loss: 50454.1836 - val_mae: 50454.1836
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49992.8594 - mae: 49992.8594 - val_loss: 50432.8477 - val_mae: 50432.8477
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49586.3203 - mae: 49586.3203 - val_loss: 50399.8555 - val_mae: 50399.8555
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49773.4570 - mae: 49773.4570 - val_loss: 50377.8086 - val_mae: 50377.8086
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50097.1523 - mae: 50097.1523 - val_loss: 50348.1055 - val_mae: 50348.1055
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50053.5547 - mae: 50053.5547 - val_loss: 50332.6367 - val_mae: 50332.6367
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49232.0000 - mae: 49232.0000 - val_loss: 50315.7930 - val_mae: 50315.7930
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49765.3125 - mae: 49765.3125 - val_loss: 50299.4531 - val_mae: 50299.4531
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50001.3164 - mae: 50001.3164 - val_loss: 50284.9609 - val_mae: 50284.9609
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50134.6406 - mae: 50134.6406 - val_loss: 50274.8086 - val_mae: 50274.8086
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49785.7344 - mae: 49785.7344 - val_loss: 50256.7969 - val_mae: 50256.7969
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49948.3633 - mae: 49948.3633 - val_loss: 50253.8555 - val_mae: 50253.8555
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49335.5586 - mae: 49335.5586 - val_loss: 50233.2422 - val_mae: 50233.2422
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50464.5352 - mae: 50464.5352 - val_loss: 50229.3438 - val_mae: 50229.3438
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50827.2188 - mae: 50827.2188 - val_loss: 50225.5586 - val_mae: 50225.5586
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48953.0742 - mae: 48953.0742 - val_loss: 50217.5273 - val_mae: 50217.5273
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50225.5352 - mae: 50225.5352 - val_loss: 50210.8789 - val_mae: 50210.8789
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50064.8984 - mae: 50064.8984 - val_loss: 50200.4023 - val_mae: 50200.4023
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49742.8711 - mae: 49742.8711 - val_loss: 50207.5781 - val_mae: 50207.5781
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49736.7656 - mae: 49736.7656 - val_loss: 50192.4492 - val_mae: 50192.4492
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49294.2773 - mae: 49294.2773 - val_loss: 50201.4453 - val_mae: 50201.4453
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49802.9688 - mae: 49802.9688 - val_loss: 50206.7031 - val_mae: 50206.7031
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49598.4297 - mae: 49598.4297 - val_loss: 50194.6250 - val_mae: 50194.6250
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49310.5547 - mae: 49310.5547 - val_loss: 50195.8672 - val_mae: 50195.8672
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49598.7031 - mae: 49598.7031 - val_loss: 50200.4961 - val_mae: 50200.4961
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49617.5781 - mae: 49617.5781 - val_loss: 50203.4492 - val_mae: 50203.4492
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49831.5078 - mae: 49831.5078 - val_loss: 50199.1289 - val_mae: 50199.1289
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49086.2266 - mae: 49086.2266 - val_loss: 50208.8359 - val_mae: 50208.8359
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49381.3047 - mae: 49381.3047 - val_loss: 50207.1680 - val_mae: 50207.1680
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49943.3281 - mae: 49943.3281 - val_loss: 50208.6406 - val_mae: 50208.6406

In [32]:
# Load the Tensorboard Extension
%load_ext tensorboard

In [34]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6007 (pid 13176), started 0:00:04 ago. (Use '!kill 13176' to kill it.)

In [35]:
# Evaluate model of test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51061.6406 - mae: 51061.6406
Test MAE: 50192.44921875

In [36]:
# Save the model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.